.init-loader-on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: snow;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
