.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: snow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(4, 93, 86, 1);
}

.App-link {
  color: rgba(114, 222, 255, 1);
}

.palette-green { color: rgba(30, 185, 128, 1); }
.palette-dark-green { color: rgba(4, 93, 86, 1); }
.palette-red { color: rgba(255, 104, 89, 1); }
.palette-yellow { color: rgba(255, 207, 68, 1); }
.palette-blue { color: rgba(114, 222, 255, 1); }
