body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: calc(10px + 1vmin);
}

.pre-flight-loader-on {
    position: absolute;
    top: 0;
    left: 0;
    background-color: snow;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pre-flight-loader-off {
  display: none;
}

.loading-spinner {
  animation: App-logo-spin infinite 3s linear;
  height: 20vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-form {
  width: 310px;
  margin: 2vmin;
}


input {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.input-submit {
  display: flex;
}

.input-with-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vmin 0;
}

.input-with-label > label {
  margin: 0 1vmin 0 0;
  white-space: nowrap;
}

.input-with-label > input {
  max-width: 150px;
  min-width: 150px;
  margin: 0 1vmin 0 0;
}

select, option {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin: 0 1vmin 0 0;
  max-width: 153px;
  min-width: 153px;
}

.results {
  padding: 1rem;
}
